<footer class="footer">
  <div class="container">
    <p>&copy; 2025 Cooperativa KAPÉ R.L. Todos los derechos reservados.</p>
    <div class="social-links">
      <a href="https://www.facebook.com/cooperativakapedetamahu" target="_blank">
        <img src="{{ '/assets/images/iconfb.png' | relative_url }}" alt="Facebook">
      </a>
      <a href="https://www.instagram.com/kape_tamahu/" target="_blank">
        <img src="{{ '/assets/images/instagram.png' | relative_url }}" alt="Instagram">
      </a>
      <a href="#" target="_blank">
        <img src="{{ '/assets/images/twitter.png' | relative_url }}" alt="X">
      </a>
      <a href="#" target="_blank">
        <img src="{{ '/assets/images/tik-tok.png' | relative_url }}" alt="TikTok">
      </a>
      <a href="#" target="_blank">
        <img src="{{ '/assets/images/youtube.png' | relative_url }}" alt="YouTube">
      </a>
    </div>
  </div>
</footer>
