<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/assets/images/kp.png" alt="logo kape"></a>
        </div>

        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/servicios/">Servicios</a></li>
                <li><a href="/noticias/">Noticias</a></li>
                <li><a href="/about.html">Sobre Nosotros</a></li>
                <li><a href="/contact.html">Contacto</a></li>
            </ul>

            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</header>
