---
layout: default
---

<main>
    <section class="content-section blog-single-post">
        <div class="container">
            {% if page.image %}
                <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" class="post-main-image">
            {% endif %}

            <h1 class="main-title">{{ page.title }}</h1>
            
            <p class="post-meta">Publicado el {{ page.date | date: "%d de %B, %Y" }} por {{ page.author }}</p>
            
            <div class="post-content">
                {{ content }}
            </div>
            
            <p><a href="{{ '/noticias/' | relative_url }}">Volver a Noticias</a></p>
        </div>
    </section>
</main>
